<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<hr>
<footer>
  <p>&copy; 2025 Antonio De la Merced. <a href="https://github.com/Antonio90-44">Github</a></p>
</footer>
</html>