<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <nav class="navbar">
    <a href="/movies" class="logo">CineMerc</a>
    <form class="search-form" method="GET">
      <input type="text" name="q" placeholder="Search..." required>
    
      <button type="submit" formaction="/movies/search/title">Title</button>
      <button type="submit" formaction="/movies/search/genre">Genre</button>
      <button type="submit" formaction="/movies/search/director">Director</button>
      
    </form>
    <a class="longmovies" href="/movies/search/longmovies">Movies Longer than 2 hrs</a>
</nav>
<div>
    <a href="/movies/add">Add New Movie</a>|
    <a href="/movies/delete">Delete Movie</a>
  </div>
</body>
</html>